.booga {
  font-family: "Cinzel", serif;
  font-size: 4em;
}

.text-center {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.main-list-b {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/575/952/non_2x/gray-and-white-color-geometric-modern-background-design-vector-illustration.jpg");
}
